source https://www.myget.org/F/salda/api/v3/index.json
source https://api.nuget.org/v3/index.json

clitool dotnet-xunit prerelease
nuget Microsoft.AspNetCore.Identity
nuget Microsoft.Extensions.Identity.Stores
nuget MongoDbGenericRepository
nuget NUnit
nuget NUnit.ConsoleRunner
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio